@import "style.css";

/* simple page */

.grid-container{
    display: grid;
    padding: 180px 80px 80px;
    margin: 20px 40px;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .4r 1fr 1fr .7fr 1fr;
    grid-template-areas: "nav nav nav"
                         "sec sec sec"
                         "con con con"
                         "hom1 hom2 hom3"
                         "fot fot fot"
                          ;
}
.item1{
    grid-area: nav;
    text-align: left;
    padding: 0 0 30px;
   
}
.item1 h4{
    font-size: 20px;
    font-weight: 700;
}
.item2{
    grid-area: sec;
    padding-bottom: 100px;
    border-bottom: 3px solid var(--ash);
}
.item2 img{
    width: 100%;

}
.item3{
    grid-area: con;
    padding-left: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    border-bottom: 3px solid var(--ash);
}
.item3 .left-column{
    margin: 20px 50px 20px 0;
}
.item3 .right-column{
    margin: 20px 0px 20px 20px;
}
.item3 h4{
    font-size: 20px;
    font-weight: 700;
}
.item4{
    grid-area: hom1;
    padding-bottom: 100px;
    border-bottom: 3px solid var(--ash);
}
.item4 h4{
    font-size: 20px;
    font-weight: 700;
}
.item5{
    grid-area: hom2;
    padding-bottom: 100px;
    border-bottom: 3px solid var(--ash);
}
.item5 h4{
    font-size: 20px;
    font-weight: 700;
}
.item6{
    grid-area: hom3;
    padding-bottom: 100px;
    border-bottom: 3px solid var(--ash);
}
.item6 h4{
    font-size: 20px;
    font-weight: 700;
}
.item7{
    grid-area: fot;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 100px;
    border-bottom: 3px solid var(--ash);
    margin: 10px;
}
.item7 .sub-left{
    width: 50%;
}
.item7 .sub-right{
    width: 50%;
    
}
.item7 .form{
    height: 55px;
    margin: 30px 60px 30px 0px;
    text-align: justify;
    border: 2px solid var(--gray);
    color: var(--white);
    border-radius: 5px;
}
.item7 .form-area{
    height: 200px;
    margin: 30px 60px 30px 0px;
    text-align: justify;
    border: 2px solid var(--gray);
    color: var(--white);
    border-radius: 5px;
}