* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --dark-blue: #535BA0;
    --blue: #007BFF;
    --indigo: #6610F2;
    --purple: #6F42C1;
    --red: #DC3545;
    --orange: #FD7E14;
    --white: #FFFFFF;
    --light: #F8F9FA;
    --ash:#EEEEEE;
    --dark-ash:#EAEBEF;
    --light-gray:#AAAAAA;
    --gray: #6C757D;
    --gray-dark: #343A40;
    --primary: #007BFF;
    --secondary: #6C757D;
    --success: #28A745;
    --info: #17A2B8;
    --warning: #FFC107;
    --dark: #343A40;
    --font-family-sans-serif:  'Roboto Slab';
}
body {
    font-family: var(--font-family-sans-serif);
    line-height: 1.5;
}

p {
    font-size: 18px;
    font-weight: 300;
    color: var(--gray)
}

h4 {
    font-size: 34px;
    font-weight: 900;
}
/* Home page */
.wrapper{
  width:100%;
  height: 100vh;
}

.header {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 11%;
}

.header h4 {
    color: var(--white);
    padding: 5px 0px 0px 80px;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 40px;
}

.header .navbar li {
    font-size: 16px;
    font-weight: 600;
    padding: 0 20px;
}

.navbar li a {
    transition: all 0.2s ease-out;
    color: var(--white);
}

.navbar li a:hover,
.navbar li a.active{
    color: var(--gray-dark);
}

.navbar li a.active::after {
    content: '';
    position: absolute;
}
.container{
    width: 100%;
    padding: 100px;
}

/* Banner */
.banner {
    border-bottom: 3px solid var(--ash);
    padding-bottom: 100px
}

.banner .main-card {
    background: url('../images/main_banner.jpg') top;
    background-size: cover;
    display: flex;
    height: 55vh;
    padding: 55px 55px;
    margin-top: 100px;
    border-bottom: 3px solid var(--ash);
}

.main-card .card-caption {
    width: 28%;
    height: 100%;
    background-color: var(--white);
    padding: 30px;
}

.card-caption h4 {
    color: var(--dark);
    font-size: 34px;
    margin: 10px;
}

.card-caption p {
    font-size: 14px;
    color: var(--gray);
    margin: 10px;
}

.card-caption span { 
    font-size: 16px;
    color: var(--light-gray);
    margin: 10px;
}

.card-caption em {
    font-style: normal;
    color: var(--dark-blue);
}

.primary-button {
    border: var(--dark-blue) solid 2px;
    color: var(--dark-blue);
    padding: 4px 8px;
    width: 110px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin: 30px 0;
    background-color: transparent;
}

.primary-button:hover{
    background-color: var(--dark-blue);
    transition: all 0.5s ease;
    cursor: pointer;
}
.primary-button:hover a{
    color: var(--white);
}
.courses {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px;
    border-bottom: 3px solid var(--ash);
}

.courses .course-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32%;
    padding: 55px;
    color: var(--dark-blue);
    margin: 3px;
    background-color: var(--dark-ash);
}

.courses .course-box h4 {
    color: var(--dark);
    font-size: 20px;
    padding: 10px;
}

.courses .course-box p {
    color: var(--gray);
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

.courses .course-box:hover {
    background-color: var(--dark-blue);
    color: var(--white);
    transition: all 0.5s;
}

.courses .course-box:hover h4 {
    color: var(--white);
}

.courses .course-box:hover p{
    color: var(--white);
}
.courses .course-box p a{
    text-decoration: none;
    color: var(--blue);
}
.courses .course-box p a:hover {
    color: var(--orange);
}

/* top-image */
.top-image {
    display: flex;
    flex-direction: column;
    padding:100px 0px;
    border-bottom: 3px solid var(--ash);
}
/* divide-section */
.divide-section {
    display: flex;
    flex-direction: row;
    padding:100px 0px;
    border-bottom: 3px solid var(--ash);
}

.divide-section .images-text {
    display: flex;
    flex-direction: column;
    width: 48%;
    padding: 20px;
}

.divide-section img {
    width: 50%;
    padding: 10px;
    margin: 10px;
}

.divide-section .images-text h4 {
    color: var(--dark);
    font-size: 18px;
}

.divide-section .images-text p {
    font-size: 16px;
    text-align: justify;
    padding: 10px 0px;
}

/* Media Query--600px */
@media only screen and (max-width: 600px) {
    h4 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
    .header {
        height: 8%;
    }

    .header h4 {
        padding: 25px;
    }

    .navbar ul {
        padding: 15px;
    }

    .header .navbar li {
        font-size: 12px;
    }
    /* banner */
    .banner {
        border-bottom: 2px solid var(--ash);
        padding: 10px 5px 0px;
    }

    .banner .main-card {
        height: 100%;
        margin: 100px 15px 50px;
        padding: 60px 20px 60px 70px;
        border-bottom: 2px solid var(--ash);
    }

    .main-card .card-caption {
        width: 90%;
        text-align: center;
    }

    .card-caption h4 {
        color: var(--dark);
        font-size: 20px;
    }

    .card-caption p {
        font-size: 12px;
    }

    .card-caption span {
        font-size: 14px;
    }

    .primary-button {
        padding: 4px 8px;
        width: 100px;
        font-size: 12px;
        margin: 30px 130px;
    }
    /* courses */
    .courses {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        padding:40px 20px 40px 15px;
    }

    .courses .course-box {
        width: 100%;
        height: 20%; 
    }
    /* top-image */
    .top-image {
        width: 100%;
        padding: 40px 20px 0px;
        margin: 0px;
    }
    .top-image .image-text {
        width: 100%;
        height: 43vh;
        margin: 0px;
        padding: 0; 
    }

    .top-image .image-text img {
        width: 100%;
        margin: 0;
    }
    .top-image .images-text, .primary-button {
        margin:30px 0 0;
    }
    /* div-section */
    .divide-section {
        display: flex;
        flex-direction: column;
        padding: 5px 10px 40px 10px;
        margin: 5px 10px 20px;
        border-bottom: 3px solid var(--ash);
    }
    
    .divide-section img {
        width: 100%;
        height: 70%;
        padding: 30px 0px 15px; 
        margin: 0px;
    }
    .divide-section .images-text {
        padding: 0px;
        margin: 0px;
   }
}

/* Media query--960px */
 @media only screen and (max-width: 960px) {
    h4 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
    .header {
        height: 10%;
    }

    .header h4 {
        padding: 25px;
    }

    .navbar ul {
        padding: 15px;
    }

    .header .navbar li {
        font-size: 14px;
    }
    /* banner */
    .banner {
        border-bottom: 2px solid var(--ash);
        padding: 60px 40px 0px;
    }

    .banner .main-card {
        height: 100%;
        margin: 100px 15px 50px;
        padding: 60px 20px 60px 70px;
        border-bottom: 2px solid var(--ash);
    }

    .main-card .card-caption {
        width: 50%;
    }

    .card-caption h4 {
        color: var(--dark);
        font-size: 20px;
    }

    .card-caption p {
        font-size: 12px;
    }

    .card-caption span {
        font-size: 14px;
    }

    .primary-button {
        padding: 4px 8px;
        width: 100px;
        font-size: 12px;
        margin: 30px 130px;
    }
    /* courses */
    .courses {
        display: flex;
        flex-direction: row;
        margin: 0 30px 30px;
        padding:40px 60px 40px 20px;
    }

    .courses .course-box {
        width: 48%;
        height: 30%;
        padding: 20px;  
    }
    /* top-image */
    .top-image {
        padding: 20px 50px 50px;
        margin: 0px;
    }
    .top-image .image-text {
        width: 100%;
        height: 43vh;
        margin: 0px;
        padding: 0;  
    }

    .top-image .image-text img {
        width: 100%;
        margin: 0;
    }
    .top-image .images-text, .primary-button {
        margin:30px 0 0;
    }
    /* div-section */
    .divide-section {
        display: flex;
        flex-direction: column;
        padding: 10px 40px 40px;
        margin: 10px 10px 20px;
        border-bottom: 3px solid var(--ash);
    }
    
    .divide-section img {
        width: 100%;
        height: 70%;
        padding: 30px 0px 15px; 
        margin: 0px;
    }
    .divide-section .images-text {
        padding: 0px;
        margin: 0px;
   }
}