* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --dark-blue: #535BA0;
    --blue: #007BFF;
    --indigo: #6610F2;
    --purple: #6F42C1;
    --red: #DC3545;
    --orange: #FD7E14;
    --white: #FFFFFF;
    --light: #F8F9FA;
    --ash:#EEEEEE;
    --dark-ash:#EAEBEF;
    --light-gray:#AAAAAA;
    --gray: #6C757D;
    --gray-dark: #343A40;
    --primary: #007BFF;
    --secondary: #6C757D;
    --success: #28A745;
    --info: #17A2B8;
    --warning: #FFC107;
    --dark: #343A40;
    --font-family-sans-serif:  'Roboto Slab';
}
body {
    font-family: var(--font-family-sans-serif);
    line-height: 1.5;
}

p {
    font-size: 18px;
    color: var(--gray)
}

h4 {
    font-size: 34px;
    font-weight: 900;
    color: var(--dark);
}
h5{
    color: var(--dark);
    font-size: 20px;
}
.primary-button {
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
    padding: 4px 8px;
    width: 110px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin: 18px 0px;
    background-color: transparent;
}

.primary-button:hover{
    background-color: var(--dark-blue);
    transition: all 0.5s ease;
    cursor: pointer;
}
.primary-button:hover a{
    color: var(--white);
}
/* Home page */
.wrapper{
  width:100%;
  height: 100vh;
}

.header {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
}

.header h4 {
    color: var(--white);
    padding: 5px 0px 0px 80px;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 40px;
}

.navbar li {
    font-size: 16px;
    font-weight: 600;
    padding: 0 20px;
}

.navbar li a {
    transition: all 0.2s ease-out;
    color: var(--white);
}

.navbar li a:hover,
.navbar li a.active{
    color: var(--gray-dark);
}

.navbar li a.active::after {
    content: '';
    position: absolute;
}
.container{
    width: 100%;
    padding: 100px;
}

/* Banner */
.banner {
    border-bottom: 3px solid var(--ash);
    padding-bottom: 100px
}

.main-card {
    background: url('../images/main_banner.jpg') top;
    background-size: cover;
    display: flex;
    height: 55vh;
    padding: 55px;
    margin-top: 100px;
    border-bottom: 3px solid var(--ash);
}

.card-caption {
    width: 28%;
    height: 100%;
    background-color: var(--white);
    padding: 30px;
}

.card-caption h4 {
    margin: 10px;
}

.card-caption p {
    font-size: 14px;
    margin: 10px;
}

.card-caption span { 
    font-size: 16px;
    color: var(--light-gray);
    margin: 10px;
}

.card-caption bold {
    color: var(--dark-blue);
}
/* courses */
.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 0px;
    border-bottom: 3px solid var(--ash);
}

.course-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32%;
    padding: 55px;
    color: var(--dark-blue);
    margin: 3px;
    background-color: var(--dark-ash);
}

.course-box h5 {
    padding: 10px;
}

.course-box p {
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

.course-box:hover {
    background-color: var(--dark-blue);
    color: var(--white);
    transition: all 0.5s;
}

.course-box:hover h5{
    color: var(--white);
}

.course-box:hover p{
    color: var(--white);
}
.course-box p a{
    text-decoration: none;
    color: var(--blue);
}
.course-box p a:hover {
    color: var(--orange);
}

/* top-image */
.top-image {
    display: flex;
    flex-direction: column;
    padding:100px 0px;
    border-bottom: 3px solid var(--ash);
}
.top-image h5{
    padding-top: 10px;
}
/* divide-section */
.divide-section {
    display: flex;
    flex-direction: row;
    padding: 100px 0px;
    border-bottom: 3px solid var(--ash);
}

.images-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
}

.images-text, p {
    font-size: 16px;
    text-align: justify;
}

/* Media Query--375px */
@media (max-width: 375px) {
    h4 {
        font-size: 16px;
    }
    h5, p{
        font-size: 8px;
    }
    .header{
        height: 55px;
    }
    .header h4 {
        padding: 14px;
    }
    .navbar ul {
        padding: 8px;
    }

    .navbar li {
        font-size: 8px;
    }
    .container {
        padding: 0px;
    }
    /* banner */
    .banner{
        padding:0;
    }

    .main-card {
        margin: 64px 14px 14px;
        padding: 40px;
        height: 430px;
    }

    .card-caption {
        width: 100%;
        text-align: center;
        height: 350px;
    }
    .card-caption p {
        font-size: 12px;
    }

    .card-caption span {
        font-size: 12px;
    }
    .primary-button {
        padding: 2px 4px;
        width: 80px;
        font-size: 8px;
        text-align: center;
        font-weight: bold;
        margin: 18px 0px;
    }
     /* courses */
     .courses {
        padding:14px;
    }

    .course-box {
        width: 100%;
    }
    /* top-image */
    .top-image {
        padding: 14px;
    }
    .top-image .images-text, .primary-button {
        margin: 14px 0 0;
    }
    /* div-section */
    .divide-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px;
        border-bottom: 3px solid var(--ash);
    }
    .divide-section img{
        width: 100%;
        padding: 14px;
    }
    .images-text{
        width: 100%;
        padding: 14px;
    }
}
/* Media Query--480px */
@media (min-width:376px)and (max-width: 480px) {
    h4 {
        font-size: 20px;
    }
    h5{
        font-size: 14px;
    }
    p {
        font-size: 12px;
    }
    .header{
        height: 85px;
    }
    .header h4 {
        padding: 20px;
    }
    .navbar ul {
        padding: 15px;
    }

    .navbar li {
        font-size: 12px;
    }
    .container {
        padding: 0px;
    }
    /* banner */
    .banner {
        border-bottom: 2px solid var(--ash);
        padding: 10px 5px 0px;
    }

    .main-card {
        height: 70%;
        margin: 100px 15px 20px;
        padding: 60px 20px 60px 70px;
        border-bottom: 2px solid var(--ash);
    }

    .card-caption {
        width: 88%;
        text-align: center;
    }

    .card-caption span {
        font-size: 14px;
    }

    .primary-button {
        width: 100px;
        font-size: 12px;
    }
    /* courses */
    .courses {
        padding: 20px 20px 20px 15px;
    }

    .course-box {
        width: 100%;
    }
    /* top-image */
    .top-image {
        padding: 20px;
    }
    .top-image .images-text, .primary-button {
        margin: 14px 0 0;
    }
    /* div-section */
    .divide-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px;
        border-bottom: 3px solid var(--ash);
    }
    .divide-section img{
        width: 100%;
        padding: 20px;
    }
    .images-text{
        width: 100%;
        padding: 20px;
    }

}
/* Media Query--837px */
@media (min-width:481px) and (max-width: 837px) {
    h4 {
        font-size: 24px;
    }
    p {
        font-size: 14px;
    }
    .header{
        height: 95px;
    }
    .navbar ul {
        padding: 18px;
    }

    .navbar li {
        font-size: 14px;
    }
    .container {
        padding: 0px;
    }
    /* banner */
    .banner {
        border-bottom: 2px solid var(--ash);
        padding: 10px 5px 0px;
    }

    .main-card {
        height: 100%;
        margin: 110px 15px 20px;
        padding: 60px;
        border-bottom: 2px solid var(--ash);
    }

    .card-caption {
        width: 60%;
        text-align: center;
    }

    .card-caption span {
        font-size: 14px;
    }

    .primary-button {
        width: 100px;
        font-size: 12px;
    }
    /* courses */
    .courses {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px 20px 20px 15px;
    }

    .course-box {
        width: 49%;
    }
    /* top-image */
    .top-image {
        padding: 20px;
    }
    .top-image .images-text, .primary-button {
        margin: 14px 0 0;
    }
    /* div-section */
    .divide-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px;
        border-bottom: 3px solid var(--ash);
    }
    .divide-section img{
        width: 100%;
        padding: 20px;
    }
    .images-text{
        width: 100%;
        padding: 20px;
    }

}